.change-password_layout {
    display: inline-flex;
    width: 66.6666%;

    .change-password_section {
        background-color: rgb(24, 25, 29);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        border: none;
        text-align: center;
        border-radius: 20px;
        padding: 3rem 2rem 2rem;
        margin: 3rem 6rem 3rem 0;

        form {
            display: flex;
            flex-direction: column;
            width: 60%;
            margin: 2rem auto 0;
            text-align: left;

            label {
                font-size: 10px;
                color: $gray;
                text-transform: uppercase;
            }

            input {
                background-color: transparent;
                border-radius: 10px;
                border: 2px solid $border-color;
                margin-bottom: 1rem;
                padding: 7px;
            }

            .btn-change-password {
                background-color: $dashboard-color;
                border: none;
                border-radius: 20px;
                margin-bottom: 0;
                margin-top: 1rem;
                cursor: pointer;
            }
        }
    }
}