.layout_main_section {
    background-color: rgb(20, 20, 22);
    min-height: 100vh;
    // padding-top: 3rem;
    padding-bottom: 2rem;

    .layout_section {
        display: inline;

        .dashboard_header {
            position: relative;
            display: flex;
            justify-content: space-between;
            padding: 2rem 6rem;

            &::before,
            &::after {
                content: '';
                position: absolute;
                width: 100vw;
                height: 1px;
                background-color: #777E90;
                opacity: 0.3;
            }

            &::before {
                top: 0;
                left: 0;
            }

            &::after {
                bottom: 0;
                left: 0;
            }

            .dashboard_title {
                font-weight: 400;
            }

            .dashboard_address {
                display: flex;
                gap: 1rem;
                font-size: 12px;
                font-weight: 600;

                span>* {
                    margin-top: 6px;
                }

                .dashboard_main {
                    color: #777E90;
                }
            }
        }

        .dashboard_sidebar {
            display: inline-flex;
            width: 33.3333%;


            .sidebar-items {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                padding-left: 1rem;
                margin: 3rem 0 3rem 6rem;

                .hr-3 {
                    height: 1px;
                    background-color: #777E90;
                    opacity: 0.3;
                    width: 130%;
                }

                a {
                    display: flex;
                    color: #777E90;
                    font-weight: 600;
                    text-transform: none;
                    font-size: 12px;

                    i {
                        margin: 2px 8px 0 0;

                        .list-icon {
                            font-size: 20px;

                            & > *,
                            & > * > * {
                                color: #777E90;
                            }
                        }
                    }

                }
            }
        }

        .dashboard_sect {
            display: flex;
            width: 66.6666%;
        }
    }

    .footer__container {
        margin-bottom: 0;
    }
}